@page "/counter"
@using BlazorServerDemo.Data
@inject IDemo _demo
@inject IDemo _demo2


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />

<h2>@_demo.StartupTime.ToString("hh:mm:ss ffffff")</h2>
<h2>@_demo2.StartupTime.ToString("hh:mm:ss ffffff")</h2>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}